body{
    font-size:20px;font-family:"微軟正黑體";background-color: rgb(14, 66, 109);
    color: rgb(247, 170, 27);
    }/*標籤名稱選擇器*/
    .test{
        color: rgb(247, 170, 27);font-size: 35px;margin-left: 2%;margin-top: 3%;
    }/*class選擇器*/
    #btn{
        
        background-color: #06bbe9;
    }/*id選擇器*/
    #btn:hover{
        background-color: #1506e9;
    }/*虛擬選擇器 需搭配其他選擇器 hover當滑鼠移到*/
    .heading{
        font-size: 40px;
    }
    .dep{
        font-size: 25px;
    }
    .intro{
        width:100%;height: 300px;max-width: 1400px;margin: auto;
    }
    div img{
        width: 440px;height: 300px;
    }
    .quote{
        font-style: italic;
    }
    .box{
     margin-left:10px ;margin-right: 10px;height: 300px;width: 460px;margin: auto;
    }
    @media screen and (min-width:801px) {
       .intro{
           display: flex;
       }
    }/*computer 800px for mac 800x600 */
    @media screen and (min-width:319px) and (max-width:801px){
        .box{
            max-width: 100%;

        }
        div img{
            max-width: 100%;
        }
     }/*ipad*/
     @media screen and (min-width:0px) and (max-width:319px){
        div img{
            width: auto;
        }
     }/*iphone*/
     
