.loginPage_wrapper{
    width: auto;
    height: auto;
}
.loginPage_select{
    display: flex;
    width: 800px;
    margin-left: 490px;
}
.loginPage_select-register{
    width: 150px;
    height: 40px;
    border: 1px solid rgb(244, 245, 245);
    border-radius: 5px;
    background-color: rgb(190, 205, 205);
    cursor: pointer;
    font-size: 15px;
    margin-top: 50px;
}
.loginPage_select-login{
    width: 150px;
    height: 40px;
    border: 1px solid rgb(244, 245, 245);
    border-radius: 5px;
    background-color: rgb(190, 205, 205);
    cursor: pointer;
    font-size: 15px;
    margin-top: 50px;
}
.loginPage_info-wrapper{
    margin-left: 490px;
    margin-top: 20px;
}
.info_email{
    font-size: 20px;
}
.info_email-input{
    font-size: 15px;
    width: 295px;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid rgb(244, 245, 245);
    background-color: rgb(190, 205, 205);
    text-align: center;
    color: rgb(59, 99, 99);

}
.info_password{
    font-size: 20px;
}
.info_password-input{
    font-size: 15px;
    width: 295px;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid rgb(244, 245, 245);
    background-color: rgb(190, 205, 205);
    text-align: center;
    color: rgb(59, 99, 99);
}
.loginPage_sendbtn{
    margin-left: 685px;
    width: 100px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid rgb(244, 245, 245);
    background-color: rgb(190, 205, 205);
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}