.mainPage_function-wrapper{
    display: flex;
}
.function_like-img{
    height: 50px;
    width: 50px;
    margin-left: 20px;
}
.function_comment-img{
    height: 46px;
    width: 46px;
    margin-left: 20px;
    margin-top: 2px;
}
.mainPage_post-wrapper{
    margin-left: 350px;
    margin-top: 50px;
    /* border: 1px solid rgb(184, 228, 225);
    border-radius: 2px; */
    width: 650px;
}
.mainPage_img{
    width: 600px;
    height: 600px;
    margin-left: 26px;
    margin-top: 2px;
    border: 1px solid rgb(221, 240, 239);
    border-radius: 8px;
}
.mainPage_user-wrapper{
    margin-left: 20px;
    margin-top: 5px;
}