@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
.newpost_wrapper{
    margin-left: 400px;
    margin-top: 100px;
    width: auto;
}
.newpost_title{
    font-size: 30px;
}
.newpost_content-input{
    margin-top: 10px;
    font-size: 15px;
    background-color: rgb(209, 243, 242);
    border: 1px solid rgb(244, 245, 245);
    border-radius: 5px;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-left: 2px;
    padding-right: 2px;

}
.newpost_img-wrapper{
    width: 560px;
    background-color: rgb(187, 228, 226);
    border-radius: 5px;
    border: 1px solid rgb(187, 228, 226);
    display: flex;
}
.newpost_img{
    margin-left: 80px;
    height: 400px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid rgb(187, 228, 226);
}
.newpost_img-btn{
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid rgb(244, 245, 245);
    background-color: rgb(190, 205, 205);
    cursor: pointer;
    margin-left: 355px;
}
.newpost_img-btn:hover{
    color: white;
    background-color: rgb(55, 101, 98);
}
.newpost_send{
    font-family: 'Joan', serif;
    width: 70px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid rgb(244, 245, 245);
    background-color: rgb(190, 205, 205);
    cursor: pointer;
    margin-left: 490px;
}
.newpost_send:hover{
    color: white;
    background-color: rgb(55, 101, 98);
}