body{
    font-size:20px;font-family:"微軟正黑體";background-color:rgb(232, 181, 247);
    color:rgb(85, 62, 106);justify-content: center;padding: 20px;text-align: center;
}
.arrow {
    border: solid rgb(31, 49, 241);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 4px;
  }
   
  .right {
    transform: rotate(-45deg);
  }
  .down {
    transform: rotate(45deg);
  }
span{
    padding: 10px;
    text-align: center;
}
#station1{
    font-size:larger;
}
